<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:insert="home::head"></th:block>
<body>
   <th:block th:insert="index::overlay"></th:block>
	<div class="wrapper">

		<nav id="sidebar" th:insert="menu::sidebar"></nav>

		<div id="content">

			<nav id="navbar" th:insert="home::navbar"></nav>

			<div class="px-3 mx-auto text-center">
				<h3 class="display-5">[[#{label.adduser.title}]]</h3>
				<div th:if="${param.error}"
					class="alert alert-danger alert-dismissible fade show failure"
					role="alert">
					[[${#request.getParameter('error')}]]
					<button type="button" class="close" data-dismiss="alert"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div th:if="${param.exitoso}" class="alert alert-info alert-dismissible fade show failure" role="alert">[[#{message.register.success}]]
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                </div>
			</div>
			<hr />
			<form id="agregar-usuario-forma" th:action="@{/usuario/agregar}"
				method="post">
				<div class="row">
					<div class="col-sm-8">
						<h4 class="display-5">[[#{label.adduser.details.title}]]</h4>
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="nombre">[[#{label.user.name}]]</label> <span
									aria-hidden="true" class="required">*</span> <input type="text"
									class="form-control" id="nombre"
									th:placeholder="#{label.user.name}" name="nombre" required />
							</div>
							<div class="form-group col-md-6">
								<label for="apellido">[[#{label.user.surname}]]</label> <span
									aria-hidden="true" class="required">*</span> <input type="text"
									class="form-control" id="apellido"
									th:placeholder="#{label.user.surname}" name="apellido" required />
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="movil">[[#{label.user.mobile}]]</label> <span
									aria-hidden="true" class="required">*</span> <input type="text"
									class="form-control" id="movil"
									th:placeholder="#{label.user.mobile}" name="movil" required />
							</div>
							<div class="form-group col-md-6">
								<label for="tipoUsuario">[[#{label.user.type}]]</label> <span
									aria-hidden="true" class="required">*</span> <select
									id="tipoUsuario" class="form-control" name="tipoUsuario" required>
									<option value="" selected>[[#{label.select}]]</option>
									<option th:value="#{label.select.internal}">[[#{label.select.internal}]]</option>
									<option th:value="#{label.select.external}">[[#{label.select.external}]]</option>
								</select>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="compania">[[#{label.user.company}]]</label> <span
									aria-hidden="true" class="required">*</span> <select
									id="compania" name="compania" class="form-control" required>
									<option value="" selected>[[#{label.select}]]</option>
									<option
										th:each="compania : ${#servletContext.getAttribute('companias')}"
										th:value="${compania.id}" th:text="${compania.razonSocial}"></option>
								</select>
							</div>
							<div class="form-group col-md-6">
								<label for="rol">[[#{label.user.roles}]]</label> <span
									aria-hidden="true" class="required">*</span>
								<th:block
									th:each="rol : ${#servletContext.getAttribute('roles')}">
									<th:block th:if="${rol.descripcion != 'Usuario'}">
										<div class="form-check">
											<input class="form-check-input position-static"
												type="checkbox" name="rol" th:value="${rol.nombre}" id="rol" />
											<label th:text="${rol.descripcion}"></label>
										</div>
									</th:block>
								</th:block>
								<div id="checkboxGroup"></div>
							</div>
						</div>
					</div>
					<div class="col-sm-4" style="border-left: solid 1px #d0cece;">
						<h4 class="display-5">[[#{label.adduser.login.title}]]</h4>
						<div class="form-group">
							<label for="correoElectronico">[[#{label.user.email}]]</label> <span
								aria-hidden="true" class="required">*</span> <input type="email"
								class="form-control" id="correoElectronico"
								th:placeholder="#{label.user.email.placeholder}"
								name="correoElectronico" required />
						</div>
						<div class="form-group">
							<label for="password">[[#{label.user.password}]]</label> <span
								aria-hidden="true" class="required">*</span> <input
								type="password" class="form-control" id="password"
								name="password" required />
						</div>
						<div class="form-group">
							<label for="inputContrasenia">[[#{label.user.password.confirm}]]</label>
							<span aria-hidden="true" class="required">*</span> <input
								type="password" class="form-control myCpwdClass"
								id="inputContrasenia" name="inputContrasenia" required />
							<div id="cPwdValid" class="valid-feedback"
								style="font-size: 100% !important">Los campos coinciden</div>
							<div id="cPwdInvalid" class="invalid-feedback"
								style="font-size: 100% !important">Los campos no coinciden</div>
						</div>
					</div>
				</div>
				<button type="submit" class="btn btn-primary" id="btnGuardar">
					<span class="fas fa-save" aria-hidden="true"></span>
					[[#{label.adduser.create}]]
				</button>
			</form>
		</div>

	</div>

	<th:block th:insert="home::script"></th:block>
	<script
		th:src="@{webjars/jquery-validation/1.13.0/jquery.validate.min.js}"
		type="text/javascript"></script>
	<script src="js/tracking.js" type="text/javascript"></script>
</body>
</html>