<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="head">
	<head >
	<meta charset="UTF-8" />
	<title th:text="#{title}"></title>
	<link rel="stylesheet" type="text/css"
		th:href="@{webjars/bootstrap/4.5.0/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css"
		th:href="@{webjars/font-awesome/5.13.0/css/all.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{css/tracking.css}" />
	<link rel="apple-touch-icon" sizes="180x180"
		th:href="@{/img/apple-touch-icon.png}" />
	<link rel="icon" type="image/png" sizes="32x32"
		th:href="@{/img/favicon-32x32.png}" />
	<link rel="icon" type="image/png" sizes="16x16"
		th:href="@{/img/favicon-16x16.png}" />
	<link rel="manifest" th:href="@{/img/site.webmanifest}"/>
<!--		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css"/>-->
		<link rel="stylesheet" href="webjars/datatables/1.10.20/media/css/dataTables.bootstrap4.min.css"/>

	<style id="compiled-css" type="text/css">
	:root { -
		-input-padding-x: 1.5rem; -
		-input-padding-y: .75rem;
	}
	</style>
	
	</head>
</th:block>
<body>

	<div class="wrapper">
		<!-- Sidebar Holder -->
		
		
        <nav id="sidebar" th:insert="menu::sidebar"></nav>

		<!-- Page Content Holder -->
		<div id="content">

			<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light sb-navbar">
				<div class="container-fluid">

					<button type="button" id="sidebarCollapse" class="navbar-btn">
						<span></span> <span></span> <span></span>
					</button>
					<button class="btn btn-dark d-inline-block d-lg-none ml-auto"
						type="button" data-toggle="collapse"
						data-target="#navbarSupportedContent"
						aria-controls="navbarSupportedContent" aria-expanded="false"
						aria-label="Toggle navigation">
						<svg class="svg-inline--fa fa-align-justify fa-w-14"
							aria-hidden="true" data-prefix="fas" data-icon="align-justify"
							role="img" xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 448 512" data-fa-i2svg="">
							<path fill="currentColor"
								d="M0 84V44c0-8.837 7.163-16 16-16h416c8.837 0 16 7.163 16 16v40c0 8.837-7.163 16-16 16H16c-8.837 0-16-7.163-16-16zm16 144h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 256h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0-128h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path></svg>
					</button>
					<div class="container-fluid">
						<a class="navbar-brand" href="#"> <img
							th:src="@{/img/logo.svg}" width="50%" height="50%"
							alt="Imagen no cargada..." />
						</a>
					</div>
					<a href="#" data-toggle="tooltip" data-placement="top"
						th:title="${#httpServletRequest.remoteUser}"> <i
						class="fas fa-user-circle" aria-hidden="true"
						style="font-size: 30px;"></i>
					</a> <a class="nav-link disabled" href="#" th:inline="text">[[${#httpServletRequest.remoteUser}]]</a>
					<form action="/j_spring_security_logout" method="post"
						class="form-inline my-2 my-lg-0" var="logoutUrl">
						<button type="submit" class="btn btn-default"
							style="align-content: right;">
							<span class="fas fa-sign-out-alt" aria-hidden="true"
								style="font-size: 25px; padding-right: 4px;"></span>Salir
						</button>

					</form>
				</div>
			</nav>
			
			<div class="contenido">

				<h2>Pagina inicial de Tracking</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
					do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
					enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
					ut aliquip ex ea commodo consequat. Duis aute irure dolor in
					reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
					pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
					culpa qui officia deserunt mollit anim id est laborum.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
					do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
					enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
					ut aliquip ex ea commodo consequat. Duis aute irure dolor in
					reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
					pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
					culpa qui officia deserunt mollit anim id est laborum.</p>
	
				<div class="line"></div>
	
				<h2>Lorem Ipsum Dolor</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
					do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
					enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
					ut aliquip ex ea commodo consequat. Duis aute irure dolor in
					reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
					pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
					culpa qui officia deserunt mollit anim id est laborum.</p>
	
				<div class="line"></div>
	
				<h2>Lorem Ipsum Dolor</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
					do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
					enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
					ut aliquip ex ea commodo consequat. Duis aute irure dolor in
					reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
					pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
					culpa qui officia deserunt mollit anim id est laborum.</p>
	
				<div class="line"></div>
	
				<h3>Lorem Ipsum Dolor</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
					do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
					enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
					ut aliquip ex ea commodo consequat. Duis aute irure dolor in
					reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
					pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
					culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
		</div>
	</div>



     <th:block th:fragment="script">
		<script src="webjars/jquery/3.3.1-2/jquery.min.js"
			type="text/javascript"></script>
		<script src="js/popper.min.js" type="text/javascript"></script>
		<script src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"
			type="text/javascript"></script>
		 <script src="webjars/datatables/1.10.20/media/js/jquery.dataTables.min.js"></script>
		 <script src="webjars/datatables/1.10.20/media/js/dataTables.bootstrap4.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				$('#sidebarCollapse').on('click', function() {
					$('#sidebar').toggleClass('active');
					$(this).toggleClass('active');
				});
			});
		</script>
		 <script src="https://legacy.datatables.net/extras/thirdparty/ColReorderWithResize/ColReorderWithResize.js"></script>
		 <script src="https://MomentJS.com/downloads/moment.js"></script>
		 <script src="https://cdn.datatables.net/plug-ins/1.10.21/dataRender/datetime.js"></script>
		 <script src="https://cdn.datatables.net/plug-ins/1.10.21/sorting/datetime-moment.js"></script>
		 <script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
		 <script src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
		 <script src="https://cdn.datatables.net/plug-ins/1.10.21/api/fnStandingRedraw.js"></script>

		 <script src="js/datatable.js"></script>
	</th:block>
</body>
</html>
