<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8" />
<title th:text="#{title}"></title>
<link rel="stylesheet" type="text/css"
	th:href="@{webjars/bootstrap/4.5.0/css/bootstrap.min.css}" />
<!--  <link rel="stylesheet" type="text/css"
    th:href="@{webjars/font-awesome/4.7.0/css/font-awesome.min.css}" />-->
<link rel="stylesheet" type="text/css" th:href="@{css/tracking.css}" />
<link rel="apple-touch-icon" sizes="180x180"
	th:href="@{/img/apple-touch-icon.png}" />
<link rel="icon" type="image/png" sizes="32x32"
	th:href="@{/img/favicon-32x32.png}" />
<link rel="icon" type="image/png" sizes="16x16"
	th:href="@{/img/favicon-16x16.png}" />
<link rel="manifest" th:href="@{/img/site.webmanifest}">

<style id="compiled-css" type="text/css">
:root { -
	-input-padding-x: 1.5rem; -
	-input-padding-y: .75rem;
}
</style>

</head>

<body id="page-top" class="index">
	<nav class="navbar navbar-expand-lg navbar-light bg-light sb-navbar">
		<a class="navbar-brand" href="#"> <img th:src="@{/img/logo.svg}"
			width="100%" height="100%" alt="Imagen no cargada..." />
		</a>
	</nav>

	<main class="page landing-page">
	<section class="clean-block clean-hero">

		<div class="container">
			<div class="row">
				<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
					<div class="card card-signin my-5">
						<div class="card-body">
							<h5 class="card-title text-center" th:text="#{login}"></h5>
							<div th:text="#{message.invalidSession}"></div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>
	</main>

	<footer class="footer mt-auto py-3">
		<div class="container">
			<div class="col-md-12">
				<div class="mx-center text-light" style="text-align: center;">
					<span class="text-muted">© 2020 Copyright: Summit Agro</span>ç
				</div>
			</div>
		</div>
	</footer>

	<script src="webjars/jquery/3.3.1-2/jquery.min.js"
		type="text/javascript"></script>
	<script src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"
		type="text/javascript"></script>
</body>
</html>