<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>




	<div th:fragment="sidebar">
		<div class="sidebar-header">
			<h3>Tracking</h3>
		</div>
		<!--  imprime roles  <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span> -->
		<ul class="list-unstyled components">
		  <p>[[#{message.sidebar.select}]]</p>
		  <th:block th:if="${#authorization.expression('hasRole(''ROLE_USUARIO'')') and #authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                <li>
                    <a href="#adminSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">[[#{message.sidebar.admin}]]</a>
                    <ul class="collapse list-unstyled" id="adminSubmenu">
                        <li><a th:href="@{/usuarios}">[[#{message.sidebar.admin.users}]]</a></li>
                        <li><a th:href="@{/catalogos}">[[#{message.sidebar.admin.catalogs}]]</a></li>
                        <li><a href="#">[[#{message.sidebar.admin.auditable}]]</a></li>
                    </ul>
                </li>
          </th:block>
          
          <th:block th:if="${#authorization.expression('hasRole(''ROLE_USUARIO'')') and (#authorization.expression('hasRole(''ROLE_TRANSPORTE_ADMIN'')') or #authorization.expression('hasRole(''ROLE_TRANSPORTE_USUARIO'')') or #authorization.expression('hasRole(''ROLE_ADMIN'')'))}">
                <li>
                    <a href="#transportistaSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">[[#{message.sidebar.admin.transport}]]</a>
                    <ul class="collapse list-unstyled" id="transportistaSubmenu">
                        <li><a href="#">[[#{message.sidebar.admin.transport.units}]]</a></li>
                        <li><a href="#">[[#{message.sidebar.admin.transport.operators}]]</a></li>
                        <li><a href="#">[[#{message.sidebar.admin.transport.routes}]]</a></li>
                    </ul>
               </li>
          
          </th:block>
          
          <th:block th:if="${#authorization.expression('hasRole(''ROLE_USUARIO'')') and (#authorization.expression('hasRole(''ROLE_ALMACEN_ADMIN'')') or #authorization.expression('hasRole(''ROLE_ALMACEN_USUARIO'')') or #authorization.expression('hasRole(''ROLE_ADMIN'')'))}">
            <li>
                    <a href="#almacenSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">[[#{message.sidebar.admin.warehouse}]]</a>
                     <ul class="collapse list-unstyled" id="almacenSubmenu">
                        <li><a href="#">[[#{message.sidebar.admin.warehouse.routes}]]</a></li>
                    </ul>
                    
               </li>
          
          </th:block>
          
          <th:block th:if="${#authorization.expression('hasRole(''ROLE_USUARIO'')') and (#authorization.expression('hasRole(''ROLE_CLIENTE'')') or #authorization.expression('hasRole(''ROLE_ADMIN'')'))}">
	          <li>
	                     <a href="#clienteSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">[[#{message.sidebar.admin.customer}]]</a>
	                     <ul class="collapse list-unstyled" id="clienteSubmenu">
	                        <li><a href="#">[[#{message.sidebar.admin.customer.statement}]]</a></li>
	                        <li><a href="#">[[#{message.sidebar.admin.customer.orders}]]</a></li>
	                        <li><a href="#">[[#{message.sidebar.admin.customer.invoices}]]</a></li>
	                        <li><a href="#">[[#{message.sidebar.admin.customer.notes}]]</a></li>
	                        <li><a href="#">[[#{message.sidebar.admin.customer.contact}]]</a></li>
	                    </ul>
	           </li>
          
          </th:block>
		
		</ul>
    </div>

</body>

</html>
