<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:insert="home::head"></th:block>
<body>

	<div class="wrapper">

		<nav id="sidebar" th:insert="menu::sidebar"></nav>

		<div id="content">

			<nav id="navbar" th:insert="home::navbar"></nav>

			<div class="px-3 mx-auto text-center">
				<h3 class="display-5">Administración de Usuarios</h3>
			</div>
			<hr />

				<div class="row">
					<div class="col-sm">
						 <a class="btn btn-success" data-toggle="button"
                            aria-pressed="false" th:href="@{/usuario/cargar-agregar-usuario}">
							<span class="fas fa-plus" aria-hidden="true"></span> Agregar
							Usuario
						</a>
						<button type="button" class="btn btn-secondary"
							aria-label="Left Align">
							<span class="fas fa-file-csv" aria-hidden="true"></span> Carga
							masiva
						</button>
					</div>
					<div class="col-sm">&nbsp;</div>
					<div class="col-sm">
						<form class="input-group mb-3">
							<input type="text" class="form-control"
								placeholder="Buscar Usuarios" aria-label="Buscar Usuarios"
								aria-describedby="button-addon2" id="mySearchText">
							<div class="input-group-append">
								<button class="btn btn-outline-secondary" type="button"
									id="button-addon2">
									<span class="fas fa-search" aria-hidden="true"></span>
								</button>
							</div>
						</form>
					</div>
				</div>
				<div class="table-responsive">
					<table class="table-striped table-bordered display nowrap" style="width:100%" id="tabusuarios">

						<thead style="background-color: #28A745">
						<tr>


							<th   scope="col">Id</th>
							<th  scope="col">Nombre Completo</th>
							<th  scope="col">Correo Electronico</th>
							<th  scope="col">Tipo Usuario</th>
							<th  scope="col">Compañia</th>
							<th  scope="col">Habilitado</th>
							<th  scope="col">Acciones</th>


						</tr>

						</thead>


					</table>

				</div>

		</div>



	</div>

	<th:block th:insert="home::script"></th:block>
</body>
</html>
